src/main/mule/test-and-deploy-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c3c4938-0df0-41b3-9ec6-5a9ea489a683" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-and-deploy-sampleFlow" doc:id="8b62c4c3-0394-4b58-8bac-1955ad45eceb" >
		<http:listener doc:name="Listener" doc:id="90db8b68-5600-4f62-be2e-7c1272584174" config-ref="HTTP_Listener_config" path="ping"/>
		<set-payload value='#["PONG"]' doc:name="Set Payload" doc:id="c8b6e3f4-02f9-4b95-aae0-851cc86e8010" />
	</flow>
</mule>